{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href=" {% static 'css/style.min.css' %}">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__wrapper">
                <a href="/" class="header__logo-link">
                    <h1 class="header__logo">Я не придумал</h1>
                </a>
                <div class="header__right">
                    <nav class="header__nav">
                        <ul class="header__menu">
                            <li class="header__menu-item"><a href="#" class="header__menu-link">Пункты выдачи</a></li>
                            <li class="header__menu-item"><a href="#" class="header__menu-link">Магазины</a></li>
                            <li class="header__menu-item"><a href="#" class="header__menu-link">Доставка</a></li>
                            <li class="header__menu-item"><a href="#" class="header__menu-link">О нас</a></li>
                            <div class="header__menu-marker"></div>
                        </ul>
                    </nav>
                    <div class="header__actions">
                        <a href="{% url 'login' %}" class="header__actions-profile">
                            <img class="header__actions-profile-img" src="{% static 'images/profile.png' %}"
                                alt="profile">
                        </a>
                        <a class="header__actions-favorite">
                        </a>
                        <a href="./cart.html" class="header__actions-cart"> </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="registration">
                <div class="registration__blocks">
                    <form class="registration__form" action="{% url 'registration' %}" method="POST">
                        {% csrf_token %}
                        <h1 class="registration__title">Регистрация</h1>
                        <input class="registration__username" type="text" placeholder="Username" name="username" maxlength="150" required id="id_username">
                        <input class="registration__email" type="email" placeholder="E-mail" name="email" required id="id_email">
                        <input class="registration__password" type="password" placeholder="Password" name="password" required id="id_password">
                        <input class="registration__passwordmore" type="password" placeholder="Retry Password" name="confirm_password" required id="id_confirm_password">
                        <button class="registration__submit" type="submit">SIGN ME UP</button>
                    </form>
                    <!-- {{form}} -->
                    <div class="registration__socialauth">
                        <h1 class="registration__socialauth-title">Sign in with social networks</h1>
                        <div class="registration__socialauth-items">
                            <a class="registration__socialauth-item registration__socialauth-facebook">Log in with
                                facebook</a>
                            <a class="registration__socialauth-item registration__socialauth-github">Log in with
                                github</a>
                            <a class="registration__socialauth-item registration__socialauth-vk">Log in with vk</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="./js/main.min.js"></script>
</body>

</html>