{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="{% static 'style/main.css' %}" />
  </head>

  <body>
    {% include 'include/header.html' %}
    <main class="main">
      <div class="container">
        <div class="main__content">
          <div class="main__content-view">
            <aside class="main__aside">
              <div>
                <p class="main__aside-title">Каталог</p>
              </div>
              {% for category in categories %}
              <a class="main__aside-item" href="{{ category.slug }}">{{ category.title }}</a>
              {% endfor %}
            </aside>
            <div class="main__center">
              <input
                type="text"
                class="main__center-search"
                placeholder="Поиск по сайту..."
              />
              <div class="suggestions">
                <h3 class="suggestions__title">Горящие предложения</h3>
                <div class="swiper mySwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img
                        src="{% static 'images/slider/2.jpg' %}"
                        alt=""
                        class="suggestions__slider-img"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img
                        src="{% static 'images/slider/2.jpg' %}"
                        alt=""
                        class="suggestions__slider-img"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img
                        src="{% static 'images/slider/2.jpg' %}"
                        alt=""
                        class="suggestions__slider-img"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img
                        src="{% static 'images/slider/2.jpg' %}"
                        alt=""
                        class="suggestions__slider-img"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img
                        src="{% static 'images/slider/2.jpg' %}"
                        alt=""
                        class="suggestions__slider-img"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img
                        src="{% static 'images/slider/2.jpg' %}"
                        alt=""
                        class="suggestions__slider-img"
                      />
                    </div>
                  </div>
                  <div
                    class="swiper-pagination suggestions-swiper-pagination"
                  ></div>
                </div>
              </div>
              <section class="recommendations">
                <h2 class="recommendations__title">Наши рекомендации</h2>
                <div class="recommendations__items">
                  {% csrf_token %} {% for product in products %}
                  <div class="product__item">
                    <div class="product__item-block">
                      <img
                        src="{{ product.image.url }}"
                        alt="item"
                        class="product__item-img"
                      />
                    </div>
                    <div class="product__item-text">
                      <h3 class="product__item-title">{{ product.title }}</h3>
                      <p class="product__item-price">{{ product.price }}$</p>
                    </div>
                    <div class="bouton">
                      <button
                        id="{{ product.id }}"
                        class="product__item-add-button"
                      >
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        BUY
                      </button>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </section>
              <section class="location">
                <h1 class="location__title">Мы находимся здесь)</h1>
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1252.5651119616703!2d83.05324580455881!3d54.84648254784834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x42dfc49f284b599d%3A0xc1ad8a5e7b1cdfc7!2z0JLRi9GB0YjQuNC5INCa0L7Qu9C70LXQtNC2INCY0L3RhNC-0YDQvNCw0YLQuNC60Lgg0J3QvtCy0L7RgdC40LHQuNGA0YHQutC-0LPQviDQk9C-0YHRg9C00LDRgNGB0YLQstC10L3QvdC-0LPQviDQo9C90LjQstC10YDRgdC40YLQtdGC0LA!5e0!3m2!1sru!2sru!4v1636623618483!5m2!1sru!2sru"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                ></iframe>
              </section>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="{% static 'scripts/main.js' %}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </body>
</html>
